body {
  background-color: pink;
}

h2 {
  text-align: center;
}

#header {
  border: solid black;
  border-width: 5px;
  margin: auto;
  padding: 2%;
  background-color: papayawhip;
}

.btn {
  background-color: lightgray;
  border-width: 1px;
  border-color: black;
}

#javascript {
  display: none;
}

#ruby {
  display: none;
}

#react {
  display: none;
}

.answer {
  color: black;
  text-align: center;
  text-size-adjust: 5px;
  border: solid black;
  border-width: 5px;
  margin: auto;
  padding: 2%;
  background-color: papayawhip;
}

img {
  height: Auto;
  width: 300px;
  margin-right: 5px;
  border-radius: 50%;
  border: 5px solid black;
}